body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #66a64f;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  label {
    color: #7BBF5A;
    font-weight: bold;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #7BBF5A;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #66a64f;
  }
  
  .error-message {
    color: rgba(184, 29, 29, 0.587);
    font-size: 12px;
    margin: 0 0 0 10px;
  }
  
  .hidden {
    display: none;
  }