<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/register/register.css">
</head>

<body>
    <div class="login-container">
        <h1>Register</h1>
        <form id="register-form">
            <div class="input-container">
                <label for="identificationNumber">Identification number:</label>
                <input type="text" id="identificationNumber" placeholder="Enter your identification number">
                <p class="error-message hidden">Identification number is required</p>
            </div>

            <div class="input-container">
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Enter your name">
                <p class="error-message hidden">Name is required</p>
            </div>

            <div class="input-container">
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="Enter your email">
                <p class="error-message hidden">A valid email is required</p>
            </div>
           
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password">
                <p class="error-message hidden">Password is required</p>
            </div>
            
            <button type="submit">Register</button>
        </form>

        <div class="register-div">
            <span>Do you have an account?</span>
            <a href="/">Sign in</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/register/register.js"></script>
</body>

</html>