<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login/login.css">
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <form id="login-form">
            <div class="input-container">
                <label for="email">Email:</label>
                <input type="text" id="email" placeholder="Enter your email">
                <p class="error-message hidden">A valid email is required</p>
            </div>
           
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" placeholder="Enter your password">
                <p class="error-message hidden">Password is required</p>
            </div>
            
            <button type="submit">Login</button>
        </form>

        <div class="register-div">
            <span>Don't have an account?</span>
            <a href="/register">Sign up</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script type="module" src="/login/login.js"></script>
</body>

</html>